html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #202020;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  text-align: center;
}

main {
  padding: 20px;
}
