<footer>
  <nav class="page-max-width d-flex flex-space-evenly flex-items-center">
    <a class="d-inline-flex flex-center flex-items-center" href="https://shutter.sh/imprint">Imprint</a>
    <div class="d-flex flex-center flex-items-center">
      <a class="d-inline-flex flex-items-center mr-16" href="https://github.com/shuttersh/shutter" target="_blank" rel="nofollow">
        {% include "icons/github.html" %}
      </a>
      <a class="d-inline-flex flex-items-center" href="https://twitter.com/shuttersh" target="_blank" rel="nofollow">
        {% include "icons/twitter.html" %}
      </a>
    </div>
    <a class="d-inline-flex flex-center flex-items-center" href="https://github.com/shuttersh/shutter/issues" target="_blank" rel="nofollow">
      {% include "icons/issue.html" %}
      <span class="ml-8">Issues</span>
    </a>
  </nav>
</footer>
